* {
  display: block;
}

span {
  display: inline;
}

html {
  width: auto;
  padding: 10px;
  margin: auto;
  background: #ffffff;
}

h1 {
  font-size: 32px;
  margin-bottom: 21px;
  font-weight: bold;
}

span.hello {
  background: #00ffff;
}

span.world {
  background: #ffff00;
}

#fox {
  background: #ff8119;
  height: 70px;
}

#fox2 {
  background: #1e90ff;
  height: 70px;
}

#highlight {
  background: #7cfc00;
}
